:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    --blueDarkest: #1D8494;
    --blueDark: #27A0B6;
    --blue: #3DC1D9;
    --blueLight: #66D3E4;
    --blueLightest: #D9F4F8;
    --green: #42C88A;
    --greenLight: #D0F1E2;
    --red: #ED5C5C;
    --redLight: #FAD6D6;


    --primary-background: #606060;
    --secondary-background: #2E2E2E;
    --primary-text: #FFFFFF;
    --secondary-text: var(--blueLight);
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 4rem;
    padding: 1rem;
    row-gap: 1rem;
    background-color: #F5F5F5;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 1rem;
    background-color: white;
}

.divider {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #DDD;
}

.index {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 1rem;
}

.index div {
    display: flex;
    align-self: flex-start; 
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    flex-direction: column;
}

.index span {
    font-family: monospace;
    padding: 0.75rem;
    font-size: 0.8rem;
    background-color: FBFBFB;
}

.index i {
    color: var(--blue);
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    padding: 0.4rem;
    border: 1px solid #E8E8E8;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.index a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--blue);
    width: 100%;
    border-top: 1px solid #E8E8E8;
    background-color: inherit;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    transition: 100ms ease;
}

.index a:hover {
    background-color: #F4FAFB;
}